<%- include("header") -%>
    <div class="box" id="heading">
        <h1> <%=listTitle %></h1>
    </div>
    <div class="box">
        <% for( let i = 0; i < newListItems.length; i++ ) { %>

        <div class="item">
            <input type="checkbox">
            <p><%=newListItems[i]%></p>
            <form class="deletebutton" action="/deleteItem" method="POST">
                <button  type="submit" name="button" value=<%= newListItems %>  >❌</button>
            </form>
        </div>

        <% } %>
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="Add New Item" autocomplete="off">
            <button type="submit" name="list" value=<%=listTitle %>>➕</button>
        </form>
    </div>

<%- include("footer") -%>
